<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".SemblanceApp"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Semblance">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Semblance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.browser.BrowserActivity1"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":worker1"
            android:theme="@style/Theme.Semblance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.browser.BrowserActivity2"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":worker2"
            android:theme="@style/Theme.Semblance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.browser.BrowserActivity3"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":worker3"
            android:theme="@style/Theme.Semblance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.browser.BrowserActivity4"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":worker4"
            android:theme="@style/Theme.Semblance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.browser.BrowserActivity5"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":worker5"
            android:theme="@style/Theme.Semblance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.browser.BrowserActivity6"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":worker6"
            android:theme="@style/Theme.Semblance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.browser.BrowserActivity7"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":worker7"
            android:theme="@style/Theme.Semblance"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.browser.BrowserActivity8"
            android:exported="false"
            android:launchMode="singleTop"
            android:process=":worker8"
            android:theme="@style/Theme.Semblance"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".engine.worker.EngineWorker1"
            android:exported="false"
            android:process=":worker1" />
        <service
            android:name=".engine.worker.EngineWorker2"
            android:exported="false"
            android:process=":worker2" />
        <service
            android:name=".engine.worker.EngineWorker3"
            android:exported="false"
            android:process=":worker3" />
        <service
            android:name=".engine.worker.EngineWorker4"
            android:exported="false"
            android:process=":worker4" />
        <service
            android:name=".engine.worker.EngineWorker5"
            android:exported="false"
            android:process=":worker5" />
        <service
            android:name=".engine.worker.EngineWorker6"
            android:exported="false"
            android:process=":worker6" />
        <service
            android:name=".engine.worker.EngineWorker7"
            android:exported="false"
            android:process=":worker7" />
        <service
            android:name=".engine.worker.EngineWorker8"
            android:exported="false"
            android:process=":worker8" />
    </application>

</manifest>
